*{
    margin: 0;
    padding: 0;
}
.word-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    background-color: #6b33d4;
}