body{
    padding: 50px 200px;
}
h1{
    text-align: center;
    background-color: royalblue; 
    color: white;
    padding: 10px;
    margin: 0px;
}

#textbox{
    width: 99%;
    border-color: #0067B0;
}
p{
    text-align: center;
    background-color: #0067B0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0px;
}