<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="conatiner">
        <img src="../../Image/istockphoto-1437816897-1024x1024.jpg" alt="Image"/>
        <i class="ri-heart-3-fill"></i>
    </div>
    <script src="Likebtn.js"></script>
</body>
</html>